@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

body {
    font-family: 'Cinzel', serif;
    background-color: #1f2225;
    color: white;
}

#summary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 1rem;
    color: #9ca3af;
}

#summary li{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

button {
    color: rgba(255, 255, 255, 0.494);
    background-color: #1f2225;
    border-color: #3c4147;
    border-radius: 50%;
    padding: 0.05rem 0.5rem;
    border-width: 0.1rem;
    font-size: smaller;
}

img{
    max-width: 50%;
}

tr{
    border-bottom-width: 0.1rem;
    border-color: #9ca3af;
    border-style: dashed;
}

td{
    padding-left: 1rem;
}

#header{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #1f2225
    ),url(/src/SR-place-Myrwatch.jpg);
    background-position: top 5% right 50%;
    height: 10rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}